DATABASE_URL=postgres://postgres:postgres@localhost:5432/live_people_app
REDIS_URL=redis://localhost:6379
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_ADMIN_URL=^admin/
DJANGO_SECRET_KEY=secret
DJANGO_ALLOWED_HOSTS=.herokuapp.com
