{% load staticfiles i18n %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
   <title>{% block title %}live people app{% endblock title %}</title>
   <meta name="description" content="Live people management with django channels and vue.js">
   <meta name="author" content="Manu Phatak <bionikspoon@gmail.com>">

   <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

   {% block css %}
      <link
         rel="stylesheet"
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
         integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY"
         crossorigin="anonymous"
      >
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
   {% endblock css %}
</head>
<body>
<div class="container">
   {% if messages %}
      {% for message in messages %}
         <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
   {% endif %}

   {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
   {% endblock content %}
</div>

{% block modal %}{% endblock modal %}

{% block javascript %}
   <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
      integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
      crossorigin="anonymous"
   ></script>
   <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
      integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
      crossorigin="anonymous"
   ></script>
   <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
      integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
      crossorigin="anonymous"
   ></script>
   <script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
   <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>

